* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;

}

#main {
    height: 100%;
    width: 100%;
    background-color: #000;
}

nav {
    height: 100px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 10vh; */
}

nav>img {
    height: 50px;
    padding-left: 22px;
    cursor: pointer;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

#nav-part2>h3 {
    font-weight: 400;
    cursor: pointer;
}

#nav-part3 {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    align-items: center;
}

#nav-part3>h4 {
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 2px;
    cursor: pointer;
}

#nav-part3>button {
    font-weight: 500;
    font-size: 1.2vw;
    padding: 11px 14px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: none;
}

#main>h1 {
    font-size: 120px;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    position: relative;
}

#main>h1>span {
    background-color: rgba(165, 42, 42, 0.81);
    font-size: 40px;
    font-family: serif;
    padding: 22px 45px;
    border-radius: 50px;
    margin: 0px 25px;
    cursor: pointer;
}

#top-left-img {
    position: absolute;
    height: 270px;
    top: 100px;
    left: 60px;
    border-radius: 15px;
}

#right-bottom-img {
    position: absolute;
    height: 353px;
    right: 70px;
    bottom: 60px;
    border-radius: 15px;
}

#bottom-img {
    position: absolute;
    border-radius: 15px;
    bottom: 20px;
    height: 260px;
    left: 260px;
}

#top-right-img {
    position: absolute;
    border-radius: 15px;
    right: 290px;
    top: 100px;
    height: 150px;
}

#main>h5{
    position: absolute;
    font-size: 20px;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
}